---
import Image from "astro/components/Image.astro";

const { title, description, image, badges } = Astro.props;
---

<div class="bg-base-200 w-full rounded-4xl">
  <figure>
    <Image
      src={image}
      alt={title}
      class="w-full h-96 object-cover rounded-t-4xl"
    />
  </figure>
  <div class="py-2 flex flex-col gap-2 px-4">
    <h2 class="font-bold">{title}</h2>
    <p class="font-light text-sm">{description}</p>
    <div class="flex flex-wrap gap-2">
      {
        badges &&
          badges.map((badge) => (
            <div class="badge bg-sky-200 dark:bg-sky-900 badge-sm rounded-4xl">
              {badge}
            </div>
          ))
      }
    </div>
  </div>
</div>
