---
import Image from "astro/components/Image.astro";
import AccessControlIcon from "../../assets/icons/access-control.svg";
import CCTVIcon from "../../assets/icons/cctv.svg";
import GateControlIcon from "../../assets/icons/gate-access.svg";
import AutomationIcon from "../../assets/icons/home-auto.svg";
import IntercomIcon from "../../assets/icons/intercom.svg";
import WifiIcon from "../../assets/icons/wifi.svg";
import Carousel from "../../ui/carousel.astro";
import SectionHead from "../../ui/section-head.astro";

const SERVICES = [
  {
    title: "Home Automation",
    description: "Smart control of lighting, climate, curtains,and more",
    icon: AutomationIcon,
  },
  {
    title: "Gate Control",
    description: "Advanced security for seamless property access.",
    icon: GateControlIcon,
  },
  {
    title: "CCTV Systems",
    description: "High-definition surveillance for peace of mind.",
    icon: CCTVIcon,
  },
  {
    title: "Intercom Systems",
    description: "Clear, elegant communication throughout your space.",
    icon: IntercomIcon,
  },
  {
    title: "Access Control",
    description: "Smart door entry systems for ultimate convenience.",
    icon: AccessControlIcon,
  },
  {
    title: "WiFi Systems",
    description: "Seamless connectivity with advanced WiFi solutions",
    icon: WifiIcon,
  },
];
---

<div>
  <SectionHead
    title="Services"
    description="Discover our range of smart home services designed to optimize your business operations."
  />

  <div class="grid-cols-2 sm:grid-cols-3 gap-4 mt-8 h-full hidden sm:grid">
    {
      SERVICES.map((service) => (
        <div class="bg-base-200/40 rounded-4xl p-4">
          <Image
            src={service.icon}
            alt={service.title}
            class="w-16 h-16 mb-2"
          />
          <p class="font-bold">{service.title}</p>
          <p>{service.description}</p>
        </div>
      ))
    }
  </div>

  <div class="sm:hidden">
    <Carousel length={SERVICES.length} name="services">
      {
        SERVICES.map((service, index) => (
          <div
            class="carousel-item bg-base-100 w-[90%] rounded-4xl p-4 flex flex-col"
            id={`service-item-${index}`}
          >
            <Image
              src={service.icon}
              alt={service.title}
              class="w-16 h-16 mb-2"
            />
            <p class="font-bold">{service.title}</p>
            <p>{service.description}</p>
          </div>
        ))
      }
    </Carousel>
  </div>
</div>
