---
import Image from "astro/components/Image.astro";
import Avatar1 from "../../assets/images/avatars/avatar-1.webp";
import Avatar2 from "../../assets/images/avatars/avatar-2.webp";
import Avatar3 from "../../assets/images/avatars/avatar-3.webp";
import Avatar4 from "../../assets/images/avatars/avatar-4.webp";
import Avatar5 from "../../assets/images/avatars/avatar-5.webp";
import Avatar6 from "../../assets/images/avatars/avatar-6.webp";
import SectionHead from "../../ui/section-head.astro";

const testimonials = [
  {
    name: "Abdullah Al Jaboori",
    role: "Homeowner",
    image: Avatar2,
    testimonial:
      "I wanted full home automation and Azzams installed ABB i-bus KNX for me. It's been a year—no mistakes, working flawlessly.",
    css: "border-r-2 border-r-black",
  },
  {
    name: "Saif Al Marri",
    role: "Homeowner",
    image: Avatar6,
    testimonial:
      "My home had gaps in security coverage and slow Wi-Fi upstairs. Azzams diagnosed it in under an hour, installed two cameras and a mesh Wi-Fi extender—and now coverage is flawless, and I get alerts instantly. Peace of mind that actually works.",
    css: "border-r-2 border-r-black",
  },
  {
    name: "Hamzah Arafat",
    role: "University of Dubai",
    image: Avatar1,
    testimonial:
      "We needed a smart CCTV setup across three floors plus seamless staff access. Azzam mapped it all out, integrated it with our mobile devices, and trained our team. We’ve had zero downtime and total visibility—even off-site.",
  },
  {
    name: "Haitham Al Saleem",
    role: "Contractor",
    image: Avatar4,
    testimonial:
      "I’ve managed subcontractors and tech before, but Azzams crew was the most punctual, detail-oriented team I’ve seen. Installation was clean, on time, and all cables hidden. The client was thrilled. I’ll hire them again.",
    css: "border-r-2 border-r-black",
  },
  {
    name: "Maryam Mossa",
    role: "Interior Designer",
    image: Avatar5,
    testimonial:
      "Integrating smart lighting and sensors without ruining aesthetics is a nightmare. Azzam suggested custom, minimal-profile gear and installed everything with care. The result? A sleek living room and functionality that wows every guest.",
    css: "border-r-2 border-r-black",
  },
  {
    name: "Dr. Manar Al Asaadi",
    role: "Architect",
    image: Avatar3,
    testimonial:
      "Modern homes need smart systems that match design. Azzams recommended the right hardware,routed it invisibly, and programmed intelligent scenes. The tech enhances both function and form—no compromises.",
  },
];
---

<div class="flex-col gap-8 hidden sm:flex">
  <SectionHead title="Testimonials" />
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
    {
      testimonials.map((testimonial) => (
        <div class={`p-6 ${testimonial.css}`}>
          <div class="flex items-center gap-4 mb-4">
            <Image
              src={testimonial.image}
              alt={testimonial.name}
              class="w-16 h-16 rounded-full"
            />
            <div>
              <h3 class="font-bold">{testimonial.name}</h3>
              <p class="text-sm text-gray-500">{testimonial.role}</p>
            </div>
          </div>
          <p class="text-base">{testimonial.testimonial}</p>
        </div>
      ))
    }
  </div>
</div>

<div class="sm:hidden">
  <SectionHead title="Testimonials" />
  <div class="carousel carousel-center w-full max-w-md space-x-4 mt-8">
    {
      testimonials.map((testimonial, index) => (
        <div
          class="carousel-item w-[90%] bg-base-100 border-2 border-black rounded-4xl"
          id={`${index}`}
        >
          <div class="flex flex-col items-start gap-1 p-4 max-w-[calc(100%-8rem)]">
            <Image
              src={testimonial.image}
              alt={testimonial.name}
              class="w-16 h-16 rounded-full"
            />
            <h3 class="font-bold">{testimonial.name}</h3>
            <p class="text-sm text-gray-500">{testimonial.role}</p>
            <p class="text-base">{testimonial.testimonial}</p>
          </div>
        </div>
      ))
    }
  </div>
</div>
