---
import { MENU_ITEMS } from "../data/menu-items";
import Button from "../ui/button.astro";
import LanguageController from "../ui/language-controller.astro";
import SvgColor from "../ui/svg-color.astro";
import ThemeController from "../ui/theme-controller.astro";

const url = Astro.url.pathname;
const lang = url.split("/")[1] === "ar" ? "ar" : "en";
---

<div class="drawer drawer-end">
  <input id="my-drawer-3" type="checkbox" class="drawer-toggle" />
  <label for="my-drawer-3" class="sr-only">Toggle navigation menu</label>
  <div
    class="backdrop-blur-xl bg-base-300/50 fixed left-1/2 transform -translate-x-1/2 top-3 z-30 px-4 flex flex-row items-center justify-between h-16 rounded-4xl w-[calc(100%-2rem)] xl:w-6/12 sm:w-11/12 md:w-8/12 sm:mx-0"
  >
    <a href="/">
      <SvgColor
        iconPath="public/assets/logo.svg"
        alt="Azzams Logo"
        className="h-14 w-14 p-1"
      />
    </a>
    <Button text="Get free quote" className="sm:hidden" />
    <div class="lg:hidden">
      <label
        for="my-drawer-3"
        aria-label="open sidebar"
        class="btn btn-square btn-ghost"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          class="inline-block h-6 w-6 stroke-current"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h16M4 18h16"></path>
        </svg>
      </label>
    </div>

    <div
      class="flex-row gap-4 sm:gap-6 px-1 font-semibold text-md hidden sm:flex"
    >
      {
        MENU_ITEMS[lang].map((item) => (
          <a
            id={item.name}
            href={item.href}
            class={`hover:text-sky-500 active:text-sky-600 transition-colors duration-300 font-sans ${
              url === item.href ? "text-sky-500" : ""
            }`}
          >
            {item.name}
          </a>
        ))
      }
    </div>
    <Button text="Get free quote" className="hidden sm:block" />
    <LanguageController />
  </div>
  <div class="drawer-side z-50">
    <label for="my-drawer-3" aria-label="close sidebar" class="drawer-overlay"
    ></label>
    <div class="menu bg-base-100 min-h-full w-64 p-4 rounded-l-4xl">
      <div class="flex flex-col gap-2 w-full h-full">
        <a href="/">
          <SvgColor
            iconPath="public/assets/logo.svg"
            alt="Azzams Logo"
            className="w-12 h-12 text-base-content"
          />
        </a>
        <hr class="border-base-300 border-dashed" />
        <div class="flex-col gap-2 px-2 font-bold text-xl flex">
          {
            MENU_ITEMS[lang].map((item) => (
              <a
                id={item.name}
                href={item.href}
                class={`hover:text-sky-500 active:text-sky-600 transition-colors duration-300 font-sans ${
                  url === item.href ? "text-sky-500" : ""
                }`}
              >
                {item.name}
              </a>
            ))
          }
        </div>
        <Button text="Get free quote" />
      </div>
      <hr class="border-base-300 border-dashed my-4" />
      <p class="font-bold">Lets Talk</p>
      <div class="flex flex-col gap-2 p-2">
        <div class="flex items-center gap-1">
          <SvgColor
            iconPath="src/assets/icons/email.svg"
            alt="Mail Icon"
            className="w-6 h-6 text-base-content"
          />
          <a href="mailto:info@azzams.com">info@azzams.com</a>
        </div>
        <div class="flex items-center gap-1">
          <SvgColor
            iconPath="src/assets/icons/phone.svg"
            alt="Phone Icon"
            className="w-6 h-6 text-base-content"
          />
          <a href="tel:+97145989049">+971 459 89049</a>
        </div>
        <div class="flex items-center gap-1">
          <SvgColor
            iconPath="src/assets/icons/whatsapp-white.svg"
            alt="WhatsApp Icon"
            className="w-6 h-6 text-base-content"
          />
          <a href="https://wa.me/97156522317">+971 565 22317</a>
        </div>
      </div>
      <hr class="border-base-300 border-dashed my-4" />
      <div
        class="flex items-center gap-2 bg-base-300 py-1 px-3 rounded-4xl justify-center"
      >
        <p class="font-bold capitalize text-md sm:text-xs">switch mode</p>
        <ThemeController />
      </div>
    </div>
  </div>
</div>
