---
import Carousel from "../../../ui/carousel.astro";
import SectionHead from "../../../ui/section-head.astro";
import SvgColor from "../../../ui/svg-color.astro";

const SERVICES = [
  {
    title: "أتمتة المنزل",
    description: "تحكم ذكي في الإضاءة والمناخ والستائر والمزيد",
    icon: "public/assets/icons/home-auto.svg",
  },
  {
    title: "التحكم في البوابة",
    description: "أمان متقدم للوصول السلس إلى الممتلكات.",
    icon: "public/assets/icons/gate-access.svg",
  },
  {
    title: "أنظمة كاميرات المراقبة",
    description: "مراقبة عالية الدقة لراحة البال.",
    icon: "public/assets/icons/cctv.svg",
  },
  {
    title: "أنظمة الاتصال الداخلي",
    description: "اتصال واضح وأنيق في جميع أنحاء المكان.",
    icon: "public/assets/icons/intercom.svg",
  },
  {
    title: "التحكم في الدخول",
    description: "أنظمة دخول ذكية لأقصى درجات الراحة.",
    icon: "public/assets/icons/access-control.svg",
  },
  {
    title: "أنظمة الواي فاي",
    description: "اتصال سلس مع حلول واي فاي متقدمة",
    icon: "public/assets/icons/wifi.svg",
  },
];
---

<div>
  <SectionHead
    title="Services"
    description="Discover our range of smart home services designed to optimize your business operations."
  />

  <div class="grid-cols-2 sm:grid-cols-3 gap-4 mt-8 h-full hidden sm:grid">
    {
      SERVICES.map((service) => (
        <div class="bg-base-200 rounded-4xl p-4">
          <SvgColor
            iconPath={service.icon}
            className="w-16 h-16 mb-2 dark:text-white"
          />
          <p class="font-bold">{service.title}</p>
          <p>{service.description}</p>
        </div>
      ))
    }
  </div>

  <div class="sm:hidden">
    <Carousel length={SERVICES.length} name="services">
      {
        SERVICES.map((service, index) => (
          <div
            class="carousel-item bg-base-100 w-[90%] rounded-4xl p-4 flex flex-col"
            id={`service-item-${index}`}
          >
            <SvgColor
              iconPath={service.icon}
              className="w-12 h-12 mb-2 dark:text-white"
            />
            <p class="font-bold">{service.title}</p>
            <p>{service.description}</p>
          </div>
        ))
      }
    </Carousel>
  </div>

  <div class="flex flex-col items-center sm:items-start mt-4">
    <a href="/services" class="bg-base-300 px-4 py-2 rounded-4xl font-semibold"
      >Learn more about our services</a
    >
  </div>
</div>
