---
import Image from "astro/components/Image.astro";
import Avatar1 from "../../../assets/images/avatars/avatar-1.webp";
import Avatar2 from "../../../assets/images/avatars/avatar-2.webp";
import Avatar3 from "../../../assets/images/avatars/avatar-3.webp";
import Avatar4 from "../../../assets/images/avatars/avatar-4.webp";
import Avatar5 from "../../../assets/images/avatars/avatar-5.webp";
import Avatar6 from "../../../assets/images/avatars/avatar-6.webp";
import Carousel from "../../../ui/carousel.astro";
import SectionHead from "../../../ui/section-head.astro";

const testimonials = [
  {
    name: "عبد الله الجبوري",
    role: "مالك منزل",
    image: Avatar2,
    testimonial:
      "كنت أرغب في تركيب نظام تحكم ذكي للمنزل بالكامل وقامت عزامس بتركيب نظام ABB i-bus KNX لي. مضى عام كامل بدون أخطاء ويعمل بكفاءة عالية.",
    css: "border-l-2 border-l-base-300",
  },
  {
    name: "سيف المري",
    role: "مالك منزل",
    image: Avatar6,
    testimonial:
      "كان هناك ضعف في تغطية الأمان وبطء في الواي فاي في الطابق العلوي. عزامس شخصت المشكلة خلال أقل من ساعة، وركبت كاميرتين ومقوي شبكة واي فاي—والآن التغطية ممتازة وأتلقى التنبيهات فوراً. راحة بال حقيقية تعمل فعلاً.",
    css: "border-l-2 border-l-base-300",
  },
  {
    name: "حمزة عرفات",
    role: "جامعة دبي",
    image: Avatar1,
    testimonial:
      "كنا بحاجة إلى نظام كاميرات ذكي يغطي ثلاثة طوابق بالإضافة إلى وصول سلس للموظفين. عزامس خططت كل شيء، ودمجته مع أجهزتنا المحمولة، ودربت الفريق. لم يحدث أي توقف ولدينا رؤية كاملة حتى خارج الموقع.",
  },
  {
    name: "هيثم السليم",
    role: "مقاول",
    image: Avatar4,
    testimonial:
      "لقد أدرت مقاولين من الباطن والتكنولوجيا من قبل، لكن فريق عزامس كان الأكثر التزامًا بالمواعيد والتفاصيل التي رأيتها. كانت عملية التركيب نظيفة وفي الوقت المحدد، وجميع الكابلات مخفية. كان العميل سعيدًا للغاية. سأقوم بتوظيفهم مرة أخرى.",
    css: "border-l-2 border-l-base-300",
  },
  {
    name: "مريم موسى",
    role: "مصممة داخلية",
    image: Avatar5,
    testimonial:
      "إن دمج الإضاءة الذكية وأجهزة الاستشعار دون الإضرار بالجمالية هو كابوس. اقترحت عزامس معدات مخصصة ذات تصميم بسيط وقامت بتركيب كل شيء بعناية. النتيجة؟ غرفة معيشة أنيقة ووظائف تدهش كل ضيف.",
    css: "border-l-2 border-l-base-300",
  },
  {
    name: "د. منار الأسعدي",
    role: "مهندس معماري",
    image: Avatar3,
    testimonial:
      "تحتاج المنازل الحديثة إلى أنظمة ذكية تتناسب مع التصميم. اقترحت عزامس الأجهزة المناسبة، وقامت بتوجيهها بشكل غير مرئي، وبرمجة المشاهد الذكية. تعزز التقنية كل من الوظيفة والشكل - دون أي تنازلات.",
  },
];
---

<div class="flex-col gap-8 hidden sm:flex">
  <SectionHead title="رأي العملاء" lang="ar" />
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
    {
      testimonials.map((testimonial) => (
        <div class={`p-6 ${testimonial.css}`}>
          <div class="flex items-center gap-4 mb-4">
            <Image
              src={testimonial.image}
              alt={testimonial.name}
              class="w-16 h-16 rounded-full"
            />
            <div>
              <h3 class="font-bold text-2xl">{testimonial.name}</h3>
              <p class="text-lg text-neutral-600 dark:text-neutral-400">
                {testimonial.role}
              </p>
            </div>
          </div>
          <p class="text-xl">{testimonial.testimonial}</p>
        </div>
      ))
    }
  </div>
</div>

<div class="sm:hidden">
  <SectionHead title="رأي العملاء" lang="ar" />
  <Carousel length={testimonials.length} name="testimonials">
    {
      testimonials.map((testimonial, index) => (
        <div
          class="carousel-item w-[90%] bg-base-200 rounded-4xl"
          id={`testimonial-item-${index}`}
        >
          <div class="flex flex-col items-start gap-3 p-4">
            <div class="flex flex-row items-center gap-4">
              <Image
                src={testimonial.image}
                alt={testimonial.name}
                class="w-30 h-30 rounded-full"
              />
              <div>
                <h3 class="font-bold text-2xl">{testimonial.name}</h3>
                <p class="text-lg text-neutral-600 dark:text-neutral-400">
                  {testimonial.role}
                </p>
              </div>
            </div>
            <p class="text-xl">{testimonial.testimonial}</p>
          </div>
        </div>
      ))
    }
  </Carousel>
</div>
